.logo{
    float: left;
}
header{
    background-color: #afbdb363;
}
.buscar{
    width: 60%;
    display:inline-block;
    
}
.redes{
    float: right;
    margin-top: 34px;
}
input,label{
    float: none;
    width: 100px;
}
body{
    background:#bd9764c2;
}
#button {
    padding: 0;
    
}
#button li {
    display: inline;
    
}
#button li a {
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
    float: left;
    padding: 4px;
    background-color: #2175bc;
    color: #fff;
    text-align: justify;
}
article{
    text-align: justify;
    width: 45%;
    float: left;

}
article{
    text-align: justify;
    width: 50%;
    float: right;
    background: #838e79
}
h3,h1{
    text-align: center;
}
.slider {
    display: flex;
    width: 25%;
    height: 30vh;
}

.slider img {
  flex: 0 0 48%;
  width: 30%;
  object-fit: cover;
}
.parte2{
    float: right;
}
table {
    width: 100%;
    border: 1px solid #000;
    background: aliceblue;
 }
 th, td {
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: 2px solid #000;
    row-gap: 2;
    column-span: 3;
    border-spacing: 2;
    padding-block-end: 2;

 }
 #piepagina{
    margin-top:0px;
    clear: both;
    border: rgb(86, 87, 143);
    padding: 0px;
    border-bottom: outset;
    border-color: darkslategrey;
    border-top: 2px solid black;
}
footer{
    background-color: #afbdb363;
}
aside{
   background-color:#80808096;
}
